@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #D0FCFF;
}

/* Custom text-stroke class */
.text-stroke {
  -webkit-text-stroke-width: 0.05px; /* Width of the stroke */
  -webkit-text-stroke-color: #535353; /* Color of the stroke */
  text-shadow: 0.05px 0.05px 0 #535353; /* Offset and color of the shadow */
}
